{% extends "base/content.html" %}
{% load static %}
<!--
   Carrega o nome da página para que apareça no título.
   -->
{% block name %}
Edit user {{ detail_users_view.name }}
{% endblock name %}
<!--
   Carrega a arvore da página, para que cada uma tenha a sua localização.
   -->
{% block arvore %}
<div class="col-md-5 col-8 align-self-center">
   <h3 class="text-themecolor m-b-0 m-t-0">Edit user {{ detail_users_view.name }}</h3>
   <ol class="breadcrumb">
      <li class="breadcrumb-item">
         <a href="{% url 'VigilantOnion:dashboard' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">
         Edit user {{ detail_users_view.name }}
      </li>
   </ol>
</div>
<div class="col-md-7 col-4 align-self-center"></div>
{% endblock %}
<!--
   Carrega os arquivos CSS que essa página em questão necessita para o seu funcionamento.
   -->
{% block css %}
<link href="{% static 'assets/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
<style media="screen">[type="checkbox"]:not(:checked), [type="checkbox"]:checked {position: initial !important;left: -0px !important;opacity: 1 !important;}</style>
{% endblock css %}
<!--
   Carrega os arquivos JS que essa página em questão necessita para o seu funcionamento.
   -->
{% block js %}
<script src="{% static 'assets/plugins/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/plugins/sweetalert/jquery.sweet-alert.custom.js' %}"></script>
<script src="{% static 'js/mask.js' %}"></script>
<script>
   $(document).ready(function(){
   	$('#detalhes-usuario-sucesso')[0].click(function() {});
   });
   $(document).ready(function(){
   	 $('#detalhes-usuario-erro')[0].click(function() {});
   });
   $(document).ready(function() {
             $('#erro-usuario-cliente')[0].click(function() {});
         });
</script>
<script type="text/javascript">
   function Change(input) {
     var str = document.getElementById(input).value;
     var word = / /g;
     var replacestr = str.replace(word, "_");
     document.getElementById(input).value = replacestr;
   }
</script>
{%  endblock js%}
<!--
   O conteúdo só dessa página em questão
   -->
{% block content %}
{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'  %}
<span id="detalhes-usuario-sucesso"></span>
{% elif message.tags == 'error'  %}
<span id="detalhes-usuario-erro"></span>
{% endif %}
{% endfor %}
{% endif %}
<div class="col-12">
   <div class="row">
      <div class="col-lg-4 col-xlg-3 col-md-5">
         <div class="card">
            {% if detail_users_view.cover %}
            <img class="card-img" src="/static/media/{{ detail_users_view.cover }}" height="400">
            {% else %}
            <img class="card-img" src="/static/media/users/cover/slider-bg-1-good.jpg" height="400">
            {% endif %}
            <div class="card-img-overlay card-inverse social-profile d-flex">
               <div class="align-self-center">
                  {% if detail_users_view.avatar %}
                  <img src="/static/media/{{ detail_users_view.avatar }}" class="img-circle" width="100">
                  {% else %}
                  <img src="/static/media/users/avatar/man.png" class="img-circle" width="100">
                  {% endif %}
                  <br><br>
                  {% if detail_users_view.name %}
                  <h4 class="card-title">{{ detail_users_view.name }}</h4>
                  {% else %}
                  <h4 class="card-title">{{ detail_users_view.username }}</h4>
                  {% endif %}
                  {% if detail_users_view.email %}
                  <h6 class="card-subtitle">{{ detail_users_view.email }}</h6>
                  {% else %}
                  <h6 class="card-subtitle">E-mail não informado</h6>
                  {% endif %}
                  {% if detail_users_view.about %}
                  <p class="text-white">{{ detail_users_view.about | slice:"0:100" }}..</p>
                  {% else %}
                  <p class="text-white">There is no additional information about the user {{ detail_users_view.username }}.</p>
                  {% endif %}
               </div>
            </div>
         </div>
         <div class="card">
            <div class="card-body">
               <small class="text-muted">Full name </small>
               {% if detail_users_view.name %}
               <h6>{{ detail_users_view.name }}</h6>
               {% else %}
               <h6>Uninformed</h6>
               {% endif %}
               <small class="text-muted p-t-30 db">Last login </small>
               {% if detail_users_view.last_login %}
               <h6>{{ detail_users_view.last_login }}</h6>
               {% else %}
               <h6>User never logged in</h6>
               {% endif %}
            </div>
         </div>
      </div>
      <div class="col-lg-8 col-xlg-9 col-md-7">
         <div class="card">
            <ul class="nav nav-tabs profile-tab" role="tablist">
               <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#perfil" role="tab">Profile</a>
               </li>
               {% if user.is_staff %}
               <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#editar" role="tab">Edit</a>
               </li>
               {% endif %}
            </ul>
            <div class="tab-content">
               <div class="tab-pane active" id="perfil" role="tabpanel">
                  <div class="card-body">
                     <div class="row">
                        <div class="col-md-3 col-xs-6 b-r">
                           <strong>Full name</strong>
                           <br>
                           {% if detail_users_view.name %}
                           <p class="text-muted">{{ detail_users_view.name }}</p>
                           {% else %}
                           <p class="text-muted">Uninformed</p>
                           {% endif %}
                        </div>
                        <div class="col-md-3 col-xs-6 b-r">
                           <strong>E-mail</strong>
                           <br>
                           {% if detail_users_view.email %}
                           <p class="text-muted">{{ detail_users_view.email }}</p>
                           {% else %}
                           <p class="text-muted">Uninformed</p>
                           {% endif %}
                        </div>
                        <hr>
                     </div>
                     <hr>
                     {% if detail_users_view.about %}
                     <p class="m-t-30">{{detail_users_view.about}}</p>
                     {% else %}
                     <p class="m-t-30">There is no additional information about the root user {{ detail_users_view.username }}.</p>
                     {% endif %}
                     <h4 class="font-medium m-t-30">More information</h4>
                     <hr>
                     <div class="row">
                        <div class="col-md-6 col-xs-6">
                           <strong>Are you an administrator?</strong>
                           <br>
                           {% if detail_users_view.is_staff %}
                           <p class="text-muted">Yes</p>
                           {% else %}
                           <p class="text-muted">No</p>
                           {% endif %}
                        </div>
                        <div class="col-md-6 col-xs-6">
                           <strong>Registered User</strong>
                           <br>
                           {% if detail_users_view.datejoined %}
                           <p class="text-muted">{{ detail_users_view.datejoined }}</p>
                           {% else %}
                           <p class="text-muted">information not found.</p>
                           {% endif %}
                        </div>
                        <div class="col-md-6 col-xs-6">
                           <strong>Last login</strong>
                           <br>
                           {% if detail_users_view.last_login %}
                           <p class="text-muted">{{ detail_users_view.last_login }}</p>
                           {% else %}
                           <p class="text-muted">information not found.</p>
                           {% endif %}
                        </div>
                     </div>
                  </div>
               </div>
               {% if user.is_staff %}
               <div class="tab-pane" id="editar" role="tabpanel">
                  <div class="card-body">
                     <form enctype="multipart/form-data" role="form" action="." method="post" class="form">
                        {% csrf_token %}
                        {% for edit_user in form_edit_user %}
                        <div class="form-group m-t-40 row">
                           <label for="{{edit_user.label}}" class="col-2 col-form-label">{{edit_user.label}}</label>
                           <div class="col-10">
                              {{ edit_user }} {{ edit_user.errors }}
                              <small class="form-control-feedback">{{ edit_user.help_text }}</small>
                           </div>
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" name="save_edit_users">Salvar</button>
                     </form>
                  </div>
               </div>
               {% endif %}
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}
