{% extends "base/content.html" %}
{% load static %}
{% block name %}Dashboard{% endblock name %}
{% block arvore %}
	<div class="col-md-5 col-8 align-self-center">
	   <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
	   <ol class="breadcrumb">
	      <li class="breadcrumb-item">
	         <a href="{% url 'VigilantOnion:dashboard' %}">Home</a>
	      </li>
	      <li class="breadcrumb-item active">
	         Dashboard
	      </li>
	   </ol>
	</div>
	<div class="col-md-7 col-4 align-self-center"></div>
{% endblock %}
{% block css %}
	<link href="{% static 'assets/plugins/chartist-js/dist/chartist.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/plugins/chartist-js/dist/chartist-init.css' %}" rel="stylesheet">
	<link href="{% static 'assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css' %}" rel="stylesheet">
{% endblock %}
{% block js %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js"></script>
	<script type="text/javascript">
		var data = {
	    datasets: [{
	        data: [
					{% for categories in categories %}
						{{ categories.1 }},
					{% endfor %}
	        ],
	        backgroundColor: [
	            "#FF6384",
	            "#4BC0C0",
	            "#FFCE56",
	            "#E7E9ED",
	            "#36A2EB",
							"#1e88e5",
							"#26c6da",
							"#7460ee",
							"#fc4b6c",
							"#ffb22b",
							"#99abb4",
	        ],
	        label: 'My dataset'
	    }],
	    labels: [
			{% for categories in categories %}
				"{{ categories.0 }}",
			{% endfor %}
	    ]
	};
		var ctx = $("#myChart");
		new Chart(ctx, {
		    data: data,
		    type: 'polarArea'
	});
	</script>
	<script src="{% static 'assets/plugins/raphael/raphael-min.js' %}"></script>
	<script src="{% static 'assets/plugins/morrisjs/morris.js' %}"></script>
	<script src="{% static 'js/morris-data.js' %}"></script>
	<script type="text/javascript">
	   $(function () {
	       "use strict";
	       var chart2 = new Chartist.Bar('.amp-pxl', {
	             labels: ['{{month_one}}', '{{month_two}}', '{{month_three}}',],
	             series: [
	               [{{ sucess_month_one }}, {{ sucess_month_two }}, {{ sucess_month_three }}, {{ sucess_month_four }}],
	               [{{ error_month_one }}, {{ error_month_two }}, {{ error_month_three }}, {{ error_month_four }}]
	             ]
	           }, {
	             axisX: {
	               position: 'end',
	               showGrid: false
	             },
	             axisY: {
	               position: 'start'
	             },
	           high:'{{ graphic_number }}',
	           low: '0',
	           plugins: [
	               Chartist.plugins.tooltip()
	           ]
	       });

	   });
	</script>
	<script src="{% static 'assets/plugins/chartist-js/dist/chartist.min.js' %}"></script>
	<script src="{% static 'assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js' %}"></script>

{% endblock %}
{% block content %}
	<div class="row">
	   <div class="col-lg-3 col-md-6">
	      <div class="card">
	         <div class="card-body">
	            <div class="d-flex flex-row">
	               <div class="round round-lg align-self-center label-warning"><i class="mdi mdi-poll"></i></div>
	               <div class="m-l-10 align-self-center">
	                  <h3 class="m-b-0 font-light">{{ total }}</h3>
	                  <h5 class="text-muted m-b-0">Total Urls</h5>
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	   <div class="col-lg-3 col-md-6">
	      <div class="card">
	         <div class="card-body">
	            <div class="d-flex flex-row">
	               <div class="round round-lg align-self-center round-sucess"><i class="mdi mdi-pulse"></i></div>
	               <div class="m-l-10 align-self-center">
	                  <h3 class="m-b-0 font-lgiht">{{ sucess }}</h3>
	                  <h5 class="text-muted m-b-0">Online</h5>
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	   <div class="col-lg-3 col-md-6">
	      <div class="card">
	         <div class="card-body">
	            <div class="d-flex flex-row">
	               <div class="round round-lg align-self-center round-danger"><i class="mdi mdi-power-settings"></i></div>
	               <div class="m-l-10 align-self-center">
	                  <h3 class="m-b-0 font-lgiht">{{ errors }}</h3>
	                  <h5 class="text-muted m-b-0">Offline</h5>
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	   <div class="col-lg-3 col-md-6">
	      <div class="card">
	         <div class="card-body">
	            <div class="d-flex flex-row">
	               <div class="round round-lg align-self-center round-primary"><i class="mdi mdi-radiator"></i></div>
	               <div class="m-l-10 align-self-center">
	                  <h3 class="m-b-0 font-lgiht">{{ notseen }}</h3>
	                  <h5 class="text-muted m-b-0">Not seen</h5>
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	</div>
	<div class="row">
		<div class=	"col-lg-7">
			 <div class="card">
					<div class="card-body">
						<h4 class="card-title">Categories</h4>
						<div class="flot-chart" style="height: 304px !important;">

							 <div id="chart" class="chartjs-size-monitor">
								 <canvas id="myChart" class="chartjs-render-monitor"></canvas>
							 </div>
						 </div>
				 </div>
			 </div>
		 </div>
	   <div class="col-lg-5 col-md-12">
	      <div class="card">
	         <div class="card-body">
	            <div class="d-flex no-block">
	               <h4 class="card-title">The last five visited</h4>
	            </div>
	            <div class="table-responsive">
	               <table class="table stylish-table">
	                  <thead>
	                     <tr>
	                        <th style="width:90px;">ID</th>
	                        <th>URL</th>
	                     </tr>
	                  </thead>
	                  <tbody>
	                     {% for last_date in visited %}
	                     <tr>
	                        <td><span class="round">{{ last_date.id }}</span></td>
	                        <td>
	                           <h6><a href="http://{{ last_date.url }}" class="link"><a href="http://{{ last_date.url }}" target="_blank">{{ last_date.url }}</a></h6>
														 {% if last_date.status == 1 %}
															 <span class="pag_info label label-info">Online</span>
														 {% elif last_date.status == 0 %}
															 <span class="pag_info label label-danger">Offiline</span>
														 {% else %}
															 <span class="pag_info label label-warning">Not visited</span>
														 {% endif %}
	                        </td>
	                     </tr>
	                     {% endfor %}
	                  </tbody>
	               </table>
	            </div>
	         </div>
	      </div>
	   </div>
		 <div class="col-lg-12 col-md-12">
				<div class="card">
					 <div class="card-body">
							<div class="row">
								 <div class="col-12">
										<div class="d-flex flex-wrap">
											 <div>
													<h3 class="card-title">Sales Overview</h3>
													<h6 class="card-subtitle">Pages status Offline Vs Pages status Online</h6>
											 </div>
											 <div class="ml-auto">
													<ul class="list-inline">
														 <li>
																<h6 class="erro_404"><i class="fa fa-circle font-10 m-r-10 erro_404"></i>404</h6>
														 </li>
														 <li>
																<h6 class="sucess_200"><i class="fa fa-circle font-10 m-r-10 sucess_200"></i>200</h6>
														 </li>
													</ul>
											 </div>
										</div>
								 </div>
								 <div class="col-12">
										<div class="amp-pxl" style="height: 300px;"></div>
								 </div>
							</div>
					 </div>
				</div>
		 </div>
	</div>
{% endblock %}
