{% load static %}
{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html lang="pt-BR">
     <head>
        {% include 'base/head.html' %}
        {% block css %}{% endblock %}
        <title>
           {% block name %}{% endblock name %} | Vigilant Onion
        </title>
     </head>
     <body class="fix-header card-no-border">
      <div class="preloader" style="display: none;">
         <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
         </svg>
      </div>
      <div id="main-wrapper">
         {% include 'base/header.html' %}
         {% include 'base/menu.html' %}
         <div class="page-wrapper">
           <div class="container-fluid">
             <div class="row page-titles">
               {% block arvore %}{% endblock %}
             </div>

                   {% block content %}{% endblock %}

            </div>
             <footer class="footer">
                © 2019 Vigilant Onion by <a target="_blank" href="https://github.com/andreyglauzer">Andrey Glauzer</a>
             </footer>
          </div>
       </div>
       {% include 'base/footer.html' %}
       {% block js %}{% endblock %}
       <script src="{% static 'assets/plugins/styleswitcher/jQuery.style.switcher.js' %}"></script>
    </body>
  </html>
{% else %}
  {% include 'base/login.html' %}
{% endif %}
