{% load static %}
<!-- Jquery -->
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'assets/plugins/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<!-- Wave Effects -->
<script src="{% static 'js/waves.js' %}"></script>
<!-- Menu sidebar -->
<script src="{% static 'js/sidebarmenu.js' %}"></script>
<!-- stickey kit -->
<script src="{% static 'assets/plugins/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
<script src="{% static 'assets/plugins/sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
<!--Custom JavaScript -->
