
{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Diga ao navegador para responder à largura da tela -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<!-- Bootstrap Core CSS -->
<link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Custom CSS -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<link href="{% static 'css/colors/blue.css' %}" id="theme" rel="stylesheet">
<!-- HTML5 Shim e Respond.js IE8 suporte de elementos HTML5 e consultas de mídia -->
<!-- AVISO: Respond.js não funciona se você visualizar a página por meio do arquivo:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
