<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" style="color: white !important;font-weight: 600 !important;">
            <b style="display: initial !important;">
                <img src="/static/media/logo/full.png" alt="homepage" class="light-logo" width="30%">
            </b>
            <span>VigilantOnion</span>
          </a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto mt-md-0">
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                        href="javascript:void(0)"><i class="mdi mdi-menu"></i></a>
                </li>
                <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark"
                        href="javascript:void(0)"><i class="ti-menu"></i></a>
                </li>
                <li class="nav-item hidden-sm-down search-box">
                   <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark">
                      <i class="ti-search"></i>
                   </a>
                   <form id="searchform" action="{% url 'VigilantOnion:search' %}" method="get" accept-charset="utf-8" class="app-search">
                      <input type="text" class="form-control"  id="searchbox" name="q" type="text" placeholder="Search & Enter">
                      <a class="srh-btn">
                         <i class="ti-close"></i>
                      </a>
                   </form>
                </li>
            </ul>
            <ul class="navbar-nav my-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="#" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img src="/static/media/man.png" alt="user"
                            class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right scale-up">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-text">
                                        <h4>{{ user.name }}</h4>
                                        <p class="text-muted">{{ user.email }}</p>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'VigilantOnion:logout' %}"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
