<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    Login | Vigilant Onion
    </title>
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/colors/blue.css' %}" id="theme" rel="stylesheet">
    <link href="{% static 'assets/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	{% if messages %}
	    {% for message in messages %}
	    	{% if message.tags == 'error'  %}
	    		<span id="login-usuario-erro"></span>
	    	{% endif %}
	    {% endfor %}
	{% endif %}
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
           	<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
       	</svg>
    </div>
    <section id="wrapper">
   <div class="login-register bg-login" style="background-image:url(/static/media/background/WallpapperV2.jpg);">
      <div class="login-box card">
         <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" method="POST" action=".">
            	{% csrf_token %}
               <h3 class="box-title m-b-20">Log In</h3>
               <div class="form-group m-t-40">
                    <div class="col-xs-12">
                      <input class="form-control" type="text" name="username" autofocus maxlength="254" required id="id_username" placeholder="User" />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-12">
                      <input class="form-control" type="password" name="password" required id="id_password" placeholder="Password" />
                    </div>
               </div>
               <div class="form-group">
                  <div class="col-md-12">
                     <div class="checkbox checkbox-primary pull-left p-t-0">
                        <input id="checkbox-signup" type="checkbox">
                        <label for="checkbox-signup"> Remember </label>
                     </div>
                     <!-- <a href="#" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Esqueceu passwd?</a> -->
                  </div>
               </div>
               <div class="form-group text-center m-t-20">
                  <div class="col-xs-12">
                     <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>
  <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/plugins/bootstrap/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
  <script src="{% static 'js/waves.js' %}"></script>
  <script src="{% static 'js/sidebarmenu.js' %}"></script>
  <script src="{% static 'assets/plugins/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
  <script src="{% static 'assets/plugins/sparkline/jquery.sparkline.min.js' %}"></script>
  <script src="{% static 'js/custom.min.js' %}"></script>
  <script src="{% static 'assets/plugins/sweetalert/sweetalert.min.js' %}"></script>
  <script src="{% static 'assets/plugins/sweetalert/jquery.sweet-alert.custom.js' %}"></script>
  <script src="{% static 'assets/plugins/styleswitcher/jQuery.style.switcher.js' %}"></script>
  <script>
    $(document).ready(function(){
       $('#login-usuario-erro')[0].click(function(){
       });
      });
  </script>
</body>
</html>
