<aside class="left-sidebar">
   <div class="scroll-sidebar">
      <nav class="sidebar-nav">
         <ul id="sidebarnav">
            <li class="nav-small-cap">MENU DASHBOARD</li>
            <li>
               <a class="has-arrow waves-effect waves-dark" href="/" aria-expanded="false">
                  <i class="mdi mdi-gauge"></i>
                  <span class="hide-menu">Dashboard</span>
               </a>
            </li>
            <li>
               <a class="has-arrow waves-effect waves-dark" href="/register" aria-expanded="false">
                  <i class="mdi mdi-new-box"></i>
                  <span class="hide-menu">New </span>
               </a>
               <ul aria-expanded="false" class="collapse">
                 <li>
                    <a href="{% url 'VigilantOnion:registersource' %}">Source</a>
                  </li>
                 <li>
                    <a href="{% url 'VigilantOnion:newurl' %}">Url</a>
                  </li>
                  <li>
                     <a href="{% url 'VigilantOnion:newcategory' %}">Category</a>
                   </li>
                   <li>
                      <a href="{% url 'VigilantOnion:newterm' %}">Term for category</a>
                  </li>
                  <li>
                     <a href="{% url 'VigilantOnion:newcompany' %}">Company</a>
                   </li>
                   <li>
                      <a href="{% url 'VigilantOnion:newkeyword' %}">Keyword</a>
                    </li>
               </ul>
            </li>
            {% if user.is_superuser == True %}
              <li>
                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                  <i class="mdi mdi-account"></i>
                  <span class="hide-menu">Users</span>
                </a>
                  <ul aria-expanded="false" class="collapse">
                    <li>
                       <a href="{% url 'VigilantOnion:registrar' %}">New Users</a>
                    </li>
                    <li>
                       <a href="{% url 'VigilantOnion:all_users' %}">Edit User</a>
                    </li>
                  </ul>
                </li>
            {% endif %}
            <li>
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                <i class="mdi mdi-pokeball"></i>
                <span class="hide-menu">All</span>
              </a>
                <ul aria-expanded="false" class="collapse">
                  <li>
                     <a href="{% url 'VigilantOnion:all_urls' %}">Urls</a>
                  </li>
                </ul>
              </li>
         </ul>
      </nav>
   </div>
</aside>
